<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome!</title>
    </head>
    <body>
        <div class="message">
            <h2>Welcome, {{user.first_name}} to  the dog club!</h2>
        </div>
        <table>
            <tr>Here are dogs who have registered!:</tr>
            <tr>
                <th>First Name</th>
                <th>Email</th>
            </tr>
            {% for person in users %}
            <tr>
                <td>{{person.first_name}}</td>
                <td>{{person.email}}</td>
                <td>
                    {% if person.id is not user.id %}
                    <form action='/delete' method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{person.id}}">
                        <input type="submit" value="Delete">
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="logged-in">
            <form action='/logout' method='post'>
                {% csrf_token %}
                <input type="submit" value="Log out" class="button">
            </form>
        </div>
        <div>
          <h4>What is your favorite toy?</h4>
          <form action='/interest' method='post'>
            {% csrf_token %}
            <input type="interests" name="interests">
            <input type="submit" value="Add toy">
          </form>
          <table>
              <tr><h3>Would you like to see the things they like?</h3></tr>
              <tr>
                  <th>First Name</th>
                  <th>Favorite toy</th>
              </tr>
              {% for i in interests %}
              <tr>
                  <td>{{i.users}}</td>
                  <td>{{i.interest}}</td>
                  <td>
                      {% if person.id is not user.id %}
                      <form action='/delete' method='post'>
                          {% csrf_token %}
                          <input type="hidden" name="id" value="{{person.id}}">
                          <input type="submit" value="Delete">
                      </form>
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </table>


    </body>
</html>
