<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
  <title>Courses~*~</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'course_log/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'course_log/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{% static 'course_log/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 class="header center indigo-text">Courses</h3>
      <div class="row">
      <div class="col s12 m4">
        <div class="card-panel #e0f7fa cyan lighten-5">
          <span class="white-text">
            <div class="row">
              <form action="/add_course" method="POST">
                {% csrf_token %}
                <div class="col s12 grey-text input-field" id="classtitle">
                  <input name="classtitle" type="text" class="validate">
                  <label for="course_name">Course Name:</label>
                </div>
                <div class="row">
                  <div class="input-field col s12 grey-text">
                    <textarea name="description" class="materialize-textarea"></textarea>
                    <label for="description">Description:</label>
                  </div>
                </div>
                <button class="btn-floating waves-effect waves-light #0288d1 light-blue darken-2 right" type="submit">
                  <i class="material-icons right">add
                  </i></button>
              </form>
            </div>
          </span>
        </div>
        </div>
      <div class="col s12 m8">
        <ul class="collection">
          {% for c in courses %}
          <li class="collection-item avatar">
            <span class="title">{{c.classtitle}}</span>
            <p class="light-text">{{c.description}} </p>
            <form action="destroy_course/{{c.classtitle}}" method="POST">
              {% csrf_token %}
              <button class="btn-floating waves-effect waves-light #0288d1 light-blue darken-2 right" type="submit">
                <i class="material-icons right">delete
                </i></button>
              </form>
          </li>
          {% endfor %}
        </ul>
      </div>
      </body>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'course_log/js/materialize.js' %}"></script>
  <script src="{% static 'course_log/js/init.js' %}"></script>

  </body>
</html>
