/*CSS reset settings here*/
*{

}
.wrapper{
 width: 970px;
 height: 600px;
 background-color: #265175;
 margin: 0px auto;
 font-family: arial;
 padding: 10px;
}
.header{
 height: 70px;
 border-radius: 8px;
 padding-top: 2px;

}
#python{
  height: 110%;
  float: left;

}
.search{
  position: relative;
  height: 50%;
  display: block;
  float: right;

}
.textsize{
  position: absolute;
  font-size: 12px;
  padding-left: 80px;
}
#searchBox{
  position: relative;
  height: 70px;
  padding: 20px;
}
.navigation{
 position: relative;
 display: block;
 height: 50px;
 width: 930px;
 background-color: #4B80AB;
 border-radius: 8px;
 top: 50px;
 left: 10px;
}
#navText{
  font-size: 120%;
  color: white;
  display: inline-block;
  position: absolute;
  width: 80%;
  text-align: center;
}
.list1{
  top: 150px;
  left:80px;
  margin-left: 30px;
  float: left;

}
ul{
  color: white;
  list-style-image: url('arrow.png');
  line-height: 7px;

}
.mainText{
 height: 400px;
 width: 700px;
 display: flex;
 position: relative;
 justify-content: center;

}
#description{
  color: white;
  position: absolute;
  top: 60px;
  font-size: 90%;
}
#beautifulText{
  color: yellow;
  position: absolute;
  top: 160px;
  text-align: center;
  font-style: italic;
  line-height: 25px;
}
.advertisement{
 height: 40px;
 width: 940px;
 background-color: #5E6672;
 bottom: 10px;
 border-radius: 10px;
 padding: 10px;
}
p{
  position: relative;
  color: #7FAAD8;
}
a{
  color: #CEAF04;
  text-decoration: none;
}
