<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Courses~*~</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 class="header center indigo-text">Courses</h3>
      <div class="row">
      <div class="col s12 m5">
        <div class="card-panel #e0f7fa cyan lighten-5">
          <span class="white-text">
            <div class="row">
              <form action="/add_course" method="POST">
                {% csrf_token %}
                <div class="input-field col s12 grey-text">
                  <input name="coursetitle" type="text" class="validate">
                  <label for="course_name">Course Name:</label>
                </div>
                <div class="row">
                  <div class="input-field col s12 grey-text">
                    <textarea name="description" class="materialize-textarea"></textarea>
                    <label for="description">Description:</label>
                  </div>
                </div>
                <a class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">add</i></a>
              </form>
            </div>
          </span>
        </div>
        </div>
      <div class="col s12 m7">
        <h4>Courses List!!</h4>
        <ul>
          {% for c in courses %}
          <li>{{c.classtitle}} | {{c.description}}</li>
          {% endfor %}
        </ul>
      </div>
      </body>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
